/* Importa la fuente 'Matemasie' desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Matemasie&display=swap');

/* Aplica estilos globales a todos los elementos */
* {
    font-family: "Matemasie", sans-serif;    /* Establece la fuente para todo el documento */
    margin: 0px;                            /* Elimina el margen por defecto */
    padding: 0px;                           /* Elimina el relleno por defecto */
    box-sizing: border-box;                 /* Incluye el relleno y el borde en el cálculo del ancho y alto de los elementos */
}

/* Estilo para el elemento <body> */
body {
    background-image: 
        /* Crea un patrón de fondo con dos gradientes repetitivos y un gradiente lineal */
        repeating-linear-gradient(135deg, rgba(4, 229, 71,0.08) 0px, rgba(4, 229, 71,0.08) 1px, transparent 1px, transparent 9px),
        repeating-linear-gradient(45deg, rgba(4, 229, 71,0.08) 0px, rgba(4, 229, 71,0.08) 1px, transparent 1px, transparent 9px),
        linear-gradient(90deg, rgb(248,113,209), rgb(52, 161, 185)); /* Gradiente de fondo que combina un color rosa y azul */
}

/* Estilo para el contenedor con la clase 'card' */
.card {
    border-radius: 15px;                    /* Bordes redondeados para la tarjeta */
    background-color: rgb(230, 230, 230);   /* Color de fondo de la tarjeta */
    height: 600px;                          /* Altura de la tarjeta */
    width: 500px;                           /* Ancho de la tarjeta */
    margin: 15px auto;                     /* Márgenes automáticos para centrar la tarjeta horizontalmente */
    text-align: center;                    /* Alinea el texto al centro dentro de la tarjeta */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9); /* Sombra alrededor de la tarjeta */
    display: grid;                         /* Usa el modelo de diseño de cuadrícula (grid) */
    grid-template-columns: 1fr;            /* Define una columna de ancho flexible */
    grid-template-rows: 1fr 7fr 1fr 1fr 1fr 1fr; /* Define seis filas con diferentes proporciones de altura */
}

/* Estilo para el primer hijo de '.card' */
.card > :nth-child(1) {
    width: 100%;                           /* Ancho completo del contenedor */
    height: 100%;                          /* Altura completa del contenedor */
    font-size: 55px;                       /* Tamaño de fuente */
    background-color: #FF75D8;             /* Color de fondo del primer elemento */
    -webkit-text-fill-color: black;        /* Color del texto (soporte para navegadores WebKit) */
    -webkit-text-stroke: 1px white;        /* Contorno del texto (soporte para navegadores WebKit) */
    display: grid;                         /* Usa el modelo de diseño de cuadrícula */
    place-items: center;                   /* Centra el contenido dentro del contenedor usando grid */
}

/* Estilo para el segundo hijo de '.card' */
.card > :nth-child(2) {
    width: 100%;                           /* Ancho completo del contenedor */
    height: 100%;                          /* Altura completa del contenedor */
}

/* Estilo para el primer hijo del segundo hijo de '.card' */
.card > :nth-child(2) > :nth-child(1) {
    width: 300px;                         /* Ancho de la imagen */
    height: 300px;                        /* Altura de la imagen */
    border-radius: 50%;                   /* Bordes redondeados para hacer la imagen circular */
    margin: 10px;                         /* Margen alrededor de la imagen */
    cursor: pointer;                      /* Cambia el cursor a una mano para indicar que es interactivo */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.9); /* Sombra alrededor de la imagen */
}

/* Estilo para el tercer hijo de '.card' */
.card > :nth-child(3) {
    width: 100%;                           /* Ancho completo del contenedor */
    height: 100%;                          /* Altura completa del contenedor */
}

/* Estilo para el cuarto hijo de '.card' */
.card > :nth-child(4) {
    width: 100%;                           /* Ancho completo del contenedor */
    height: 100%;                          /* Altura completa del contenedor */
}

/* Estilo para el quinto hijo de '.card' */
.card > :nth-child(5) {
    width: 100%;                           /* Ancho completo del contenedor */
    height: 100%;                          /* Altura completa del contenedor */
}

/* Estilo para el sexto hijo de '.card' */
.card > :nth-child(6) {
    width: 100%;                           /* Ancho completo del contenedor */
    height: 100%;                          /* Altura completa del contenedor */
    font-size: 55px;                       /* Tamaño de fuente */
    background-color: #FF75D8;             /* Color de fondo del sexto elemento */
    -webkit-text-fill-color: black;        /* Color del texto (soporte para navegadores WebKit) */
    -webkit-text-stroke: 1px white;        /* Contorno del texto (soporte para navegadores WebKit) */
    display: grid;                         /* Usa el modelo de diseño de cuadrícula */
    place-items: center;                   /* Centra el contenido dentro del contenedor usando grid */
}
